* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #72747F;
    font-size: 16px;
    font-family: "Open Sans", "Lato";
  }
 .container {
         width: 1000px;
 }
.navbar {
  background-color:#DADADA; 
}
/*nav .navbar-nav li a{
  color: black !important;
  }*/
.presentacion {
  background: white;
  border-color: white;
}
.hidden{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;  
}
.main {
  background: white;
}
 .main .servicios .foto_servicios{
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 40px;
 }
 .main .servicios .titulo_servicios{
   text-align: center;
   margin-bottom: 20px;
}
.main .servicios .texto_servicios{
    text-align: justify;
 }
 .formacion_academica_exp_laboral{
   background: #DADADA;
 }
 @media (min-width: 300px) and (max-width: 578px) {
    .container {
        max-width: 100%;
    }
    html {
      font-size: 1.2rem;
    }
  }
  @media (min-width: 579px) and (max-width: 991px) {
    .container {
        max-width: 100%;
    }
    html {
      font-size: 1.4rem;
    }
  }
      
  }